@import "styles/variables";
@import "styles/mixins";

.article {
  align-self: flex-start;
  padding: 40px 20px;
  width: 100%;
}

.category {
  text-transform: capitalize;
  padding: 4px 8px;
  background: $primary-color;
  border-radius: 4px;
  color: $bg-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-right: 20px;
}

.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.backBtn {
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  padding: 3px 20px;
  border: 1px solid $primary-color;
  border-radius: 4px;
  transition: all .3s ease;
  font-weight: 600;
  font-size: 16px;
  color: $primary-color;
  line-height: 18px;

  &:hover {
    background: $primary-color;
    color: $bg-color;
  }
}

.top {
  margin-bottom: 44px;
  display: flex;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 20px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


.image {
  width: 100%;
  height: 458px;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $separator-color;
  @include font-heading-1;
}

.quotes {
  @include font-s-italic;
  margin-bottom: 40px;
}