@import "styles/variables";
@import "styles/mixins";

.article {
  align-self: flex-start;
  padding: 40px 0;
}

.category {
  text-transform: capitalize;
  padding: 4px 8px;
  background: $primary-color;
  border-radius: 4px;
  color: $bg-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 24px;
  margin-right: 20px;
}

.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.top {
  margin-bottom: 44px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 20px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.backBtn {
  cursor: pointer;
  display: inline-block;
  @include font-heading-2;
  margin-bottom: 40px;
  padding: 10px 20px;
  border: 1px solid $text-color;
  border-radius: 4px;
  transition: all .3s ease;
  &:hover {
    background: $text-color;
    color: $bg-color;
  }
}