//Colors
$bg-color:#FBFBFB;
$text-color:#161616;
$subtext-color: #7A7A7A;
$primary-color: #E33A6D;
$separator-color: #D1D1D1;

//Shadow
$header-shadow: 0px 2px 10px rgba(22, 22, 22, 0.1);
$shadow: 0px 0px 10px rgba(22, 22, 22, 0.1);
