@import "styles/variables";
@import "styles/mixins";

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  background: $text-color;
  color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include font-heading-1;
  gap: 20px;
}

.link:hover {
  color: $primary-color;
}

.close {
  position: absolute;
  right: 10%;
  color: white;
  z-index: 4;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 3rem;
}