@import "styles/mixins";
@import "styles/variables";

.footer {
  color: $subtext-color;
  @include font-xs-regular;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid $separator-color;
  padding: 24px 0;
  @include for-tablet-landscape-up {
    flex-direction: column;
    align-items: center;
  }
}

.copy {
  @include for-tablet-landscape-up {
    order: 1;
  }
}

.nav {
  display: flex;
  @include for-tablet-landscape-up {
    flex-direction: column;
    align-items: center;
  }
}

.nav .link:not(:last-of-type) {
  margin-right: 32px;
  @include for-tablet-landscape-up {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.link:hover {
  color: $text-color;
}

.footer__socials {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  @include for-tablet-landscape-up {
    margin: 32px 0;
  }
}

.socials {
  &__item:not(:last-of-type) {
    margin-right: 13px;
    @include for-tablet-landscape-up {
      margin-right: 40px;
    }
  }
  &_fill {
    height: 20px;
    width: 20px;
    fill: $subtext-color;
    @include for-tablet-landscape-up {
      height: 30px;
      width: 30px;
    }
  }
  &_fill:hover {
    fill: $text-color;
  }
}


